$containerBackground: #fff;
$primaryFontColor: #000;
$inputBorderColor: #000;
$inputBorder: 1px solid $inputBorderColor;
$sureTintRed: #983331;

#cost-savings-quote {
  margin-top: -65px; /*this is to compensate for no graphic */
}

#calculator ul, #calculator ol, #calculator li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#calculator .assistive-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
#calculator .loading {
  text-align:center;
  margin: 10px 0;
}
.display-no {
  display: none;
}

#calculator .loading .spinner {
  background: url("../img/loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
  display: inline-block;
  margin: 0 3px;
  width: 16px;
}

#calculator .container {
  margin: 0 auto;
  max-width: 535px;
  padding: 0 20px;
}

.pricing {
  background: $containerBackground;
  background: none repeat scroll 0 0 $containerBackground;
  padding: 0 20px;
  color: $primaryFontColor;
}

#calculator input.required,
#calculator select.required {
  color:$primaryFontColor;
}

#calculator input.city {
  display:inline;
  max-width: 365px;
  margin-bottom:5px;
}

#calculator input.state {
  max-width: 70px;
  display:inline;
  margin-bottom:5px;
}

#calculator input.zip {
  max-width: 166px;
  display:inline;
  margin-bottom:5px;
}

.pricing label.error {
  color: $sureTintRed;
  font-family: 'ITCAvantGardeW01-CnBk', sans-serif;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .pricing .close {
    background-image: url('../img/sprite@2x.png');
    background-size: 200px 600px;
  }
}


#calculator {
  font-family: 'AvantGardeGothicITCW01B 731069', sans-serif;
}

#calculator,
#calcresponse {
  margin: 0 auto;
  padding-bottom: 40px;
  color: $primaryFontColor;
}



#calculator label.error, #calculator .validation_error {
  font-size: .9em;
  margin-top: 1px;
  font-family: 'ITCAvantGardeW01-CnBk', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
  color: $sureTintRed;
}

.pricing .validation_message,
.pricing .validation_error,
.pricing .form-header,
.pricing .form-footer,
.pricing .response-errors,
#calcresponse {
  color: $primaryFontColor;
  font-family: 'ITCAvantGardeW01-CnBk', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
}

#calcresponse p { margin-bottom: 18px; }

#calculator label {
  color: $primaryFontColor;
  display: block;
  font-family: 'ITCAvantGardeW01-CnBk', sans-serif;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin: 12px 0 4px;
}

#calculator input,
#calculator select {
  width: 100%;
  height: 40px;
  padding: 0 1%;
  line-height: 40px;
  outline: none;
  border: $inputBorder;
  background: #fff;
  -webkit-box-shadow: inset 0, -1px, 5px, 5px, rgba(0, 0, 0, 0.2) 0 0 0 #000000;
  -moz-box-shadow: inset 0, -1px, 5px, 5px, rgba(0, 0, 0, 0.2) 0 0 0 #000000;
  -o-box-shadow: inset 0, -1px, 5px, 5px, rgba(0, 0, 0, 0.2) 0 0 0 #000000;
  box-shadow: inset 0, -1px, 5px, 5px, rgba(0, 0, 0, 0.2) 0 0 0 #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  vertical-align: middle;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#calculator input.percentage {
  display: inline;
  margin-right: 2px;
  width: 50px;
}

#calculator select {
  margin-bottom: 5px;
}

#calculator .gform_button,
#calculator input[type="submit"] {
  display: block;
  max-width: 260px;
  margin: 10px auto 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #0b9ca9;
  color: #ffffff;
  font-size: 1.625em;
  font-family: 'AvantGardeGothicITCW01B 731069', sans-serif;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#calculator .gform_button:hover {
  background: #0d7881;
}



@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {


  .pricing .validation_message,
  .pricing .validation_error,
  .pricing .form-header,
  .pricing .form-footer,
  .pricing .response-errors,
  label.error {
    font-size: .875em;
  }

  #calculator input,
  #calculator select  {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
  }


  #calculator .gform_button {
    font-size: 1.25em;
  }
}


#calculator .gform_footer {
  margin-top: 18px;
}

#calculator .gform_footer .quote {
  margin-top:35px;
  font-size: 1.25em;
}
#calculator .gform_footer .quoteByline {
  font-size: .75em;
  margin-left:10px;
  margin-top:10px;
}

.pricing .lead {
  font-size: 1.25em;
  line-height: 1;
}




#calculator input[type="text"].err,
#calculator .err,
#calculator input[type="text"].error, #calculator submit.error {
  background-color: #FFCFDC !important;
  border-color: $inputBorderColor !important;
  border-style: solid;
  border-width: 2px !important;
}

.pricing .response-errors .err,
.pricing .response-errors.err {
  color: #222;
  padding: 6px;
}

#calculator input[type="text"]:focus,
#calculator .err:focus {
  background-color: #fff !important;
  border-color: $inputBorderColor !important;
}

#calc-results-header,
#calc-results-footer {
  margin: 18px 0;
}